

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navWhite" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:5000/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navWhite">
      <ul class="nav navbar-nav">
        <li class="active" id="nav-courier"><a href="/courier" >COURIER<span class="sr-only">(current)</span></a></li>
        <li id="nav-dispatch"><a href="/dispatch" id="nav-dispatch">DISPATCH</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Riders<span class="caret"></span></a>
          <ul class="dropdown-menu" id='dropdown-test'>
            <li id='nav-signup'><a href="/signup">sign up</a></li>
            <li id='nav-signin'><a href="/signin">sign in</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="logOut">log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>