<!DOCTYPE html>
<html>
<head>
  <title>#messlife</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
</head>
<body id='dispatch'>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:5000/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:5000/courier">Courier<span class="sr-only">(current)</span></a></li>
        <li><a href="http://localhost:5000/dispatch">Dispatch</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Riders<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/signup">sign up</a></li>
            <li><a href="/signin">sign in</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="logOut">log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div id="page-wrapper" class="container text-center">
    <header class="page-header">
      <h1>Dispatch</h1>
    </header>
    
    <!-- This is the bs3-form boilerplate: -->
    <form action="" method="POST" role="form" id="newJob">
      <div class="form-group col-xs-6 col-xs-offset-3">
        <label for="">Create a job</label>
        <input type="text" name="name" class="form-control" id="" placeholder="name">
        <input type="text" name="address" class="form-control" id="" placeholder="address">
        <input type="text" name="phone"class="form-control" id="" placeholder="phone number">
        <input type="text" name="order_contents" class="form-control" id="" placeholder="contents of order">
        <input type="text" name="delivery_fee" class="form-control" id="" placeholder="delivery fee">
        <input type="text" name="delivery_tip" class="form-control" id="" placeholder="delivery tip">
        <input type="text" name="cash_payment" class="form-control" id="" placeholder="cash?">
        <hr>
         <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    
     
    </form>

  </div>
</body>
</html>


