
<% include ./_head %>
<% include ./_navbar %>
<body class="blackGround">
  <div id="page-wrapper" class="container text-center">
    <header class="page-header">
      <h1>Dispatch</h1>
    </header>
    
    <!-- This is the bs3-form boilerplate: -->
    <form action="" method="POST" role="form" id="newJob">
      <div class="form-group col-xs-6 col-xs-offset-3">
        <label for="">Create a job</label>
        <input type="text" name="name" class="form-control" id="" placeholder="name">
        <input type="text" name="address" class="form-control" id="" placeholder="address"> 
        <input type="text" name="phone"class="form-control" id="" placeholder="phone number">
        <input type="text" name="order_contents" class="form-control" id="" placeholder="order contents">
        <input type="text" name="order_total" class="form-control" id="" placeholder="order total">
        <input type="text" name="delivery_fee" class="form-control" id="" placeholder="delivery fee">
        <input type="text" name="delivery_tip" class="form-control" id="" placeholder="delivery tip">
        <input type="text" name="cash_payment" class="form-control" id="" placeholder="cash?">
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</body>


