<% include ./_head %>
<% include ./_navbar %>
<body class="blackGround">
	<div id="page-wrapper" class="container col-xs-6 col-xs-offset-3">
		<form id="signUp">
			<div class="form-group">
				<label for="RiderName">Name</label>
				<input type="name" name= "name" class="form-control" placeholder="Name" id="rider-name-sign-up">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password"class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="confirm-password">Confirm Password</label>
				<input type="password" name="confirm-password" class="form-control" placeholder="Confirm Password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
