<% include ./_head %>
<% include ./_navbar %>
<body class="blackGround">
  <div id="page-wrapper" class="container col-xs-6 col-xs-offset-3">
    <form id="signIn">
      <div class="form-group">
        <label for="name">name</label>
        <input type="name" name="name" class="form-control" placeholder="name">
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" name="password" class="form-control" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>