<% include ./_head %>
<body>
	<% include ./_navbar %>
	<div class="container">
		<header class="page-header">
			<h1 class="text-center">#messlife</h1>
		</header>
		<body id='splash'></body>
	</div>
</body>