<% include ./_head %>
<% include ./_navbar %>
<div class="container">
	<header class="page-header">
		<h1 class="text-center">#messlife</h1>
		<h2 class="text-center">no dispatch, no rules</h2>
	</header>
	<body id='splash'></body>
</div>