#splash {
	background-image: url('http://i.imgur.com/tLKwvQF.jpg?1');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.blackGround {
	color: white;
	background: black;
}	

#navWhite {
	background: white;
}